@model CrudEmpleados.Models.Empleado

@{
    ViewData["Title"] = "Editar nuevo empleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h1 class="text-center">Editar Datos del Empleado</h1>

<br />
<hr />
<div class="row">
    <div class="col-10 offset-1">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white"><strong>Editar empleado</strong></h3>
            </div>
            <div class="card-body">
                <form asp-action="Edit" method="post" enctype="multipart/form-data">
                    <input type="hidden" value="Id"/>  <!--este es necesario en el edit para pasar los datos ocultos-->
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Nombres" class="control-label"></label>
                        <input asp-for="Nombres" class="form-control" placeholder="Nombres"/>
                        <span asp-validation-for="Nombres" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Apellidos" class="control-label"></label>
                        <input asp-for="Apellidos" class="form-control" placeholder="Apellidos"/>
                        <span asp-validation-for="Apellidos" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LugarNac" class="control-label"></label>
                        <input asp-for="LugarNac" class="form-control" placeholder="Lugar de nacimiento"/>
                        <span asp-validation-for="LugarNac" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FechaNac" class="control-label"></label>
                        <input asp-for="FechaNac" type="date" class=" form-group date form-control" data-date-format="dd-mm-yyyy" placeholder="00-00-0000">
                        <span asp-validation-for="FechaNac" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Direccion" class="control-label"></label>
                        <input asp-for="Direccion" class="form-control" placeholder="Dirección"/>
                        <span asp-validation-for="Direccion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Foto" class="control-label"></label>
                        <input asp-for="Foto" type="file" name="archivos" id="subidaArchivo" class="form-control"/>
                        <span asp-validation-for="Foto" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Telefono" class="control-label"></label>
                        <input asp-for="Telefono" class="form-control" type="tel" placeholder="0000-0000"/>
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" type="email" placeholder="empleado@ejemplo.com"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Puesto" class="control-label"></label>
                        <input asp-for="Puesto" class="form-control" placeholder="Puesto laboral"/>
                        <span asp-validation-for="Puesto" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Estado" class="control-label"></label>
                        <select asp-for="Estado" id="estado" name="estado" class="form-control">
                            <option value=""> ----- </option>
                            <option value="1">Contratado</option>
                            <option value="2">Pasantía</option>
                            <option value="3">Temporal</option>
                            <option value="4">En Pruebas</option>
                        </select>
                        <span asp-validation-for="Estado" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" asp-route-id="@Model.Id"><i class="bi bi-pencil-fill"></i> Editar usuario</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a lista</a>
</div>

